body {
  background-color: rgb(215, 250, 232);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #2c2c2c;
}

div{
    justify-content: center;
    align-items: center;
    text-align: center;
    color:antiquewhite;
    width: 50%;
    background: #2c2c2c;
}